project_name        = "secureflow"
environment         = "prod"
aws_region          = "ap-northeast-2"

frontend_image_tag  = "latest"
backend_image_tag   = "latest"
worker_image_tag    = "latest"

frontend_desired_count = 1
backend_desired_count  = 1
worker_desired_count   = 1

enable_autoscaling = false

db_instance_class   = "db.t4g.micro"
db_multi_az         = false

# HTTPS를 사용할 경우 ACM 인증서 ARN 입력
acm_certificate_arn = null

# 선택 입력
alarm_email         = "security@example.com"
gemini_api_key      = "replace-me"
gemini_model        = "gemini-3.1-flash-lite"
openai_api_key      = null
sonarqube_url       = ""
sonarqube_token     = null

log_retention_in_days = 365

tags = {
  Owner = "security-team"
}
